<header class="d-none d-sm-block">
    <div class="jumbotron text-white text-center">
        <h1 class="display-4">{{zagolovok}}</h1>
        <p class="lead">Web-додаток для обліку та координації зустрічей Нової української школи</p>
        <hr class="my-4">
    </div>
</header>